doctype html
html
    head
        titile #{title}
            link(href='https://fonts.googleapis.com/css?family=Work+Sans&display=swap', rel='stylesheet', crossorigin='')
            link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css', crossorigin='')
            link(rel='stylesheet', href='./css/showcase.css')

    body
        include nav
        block content
            h1 I am a placeholder where actual content willl appear in child pages
        include footer
        