section.footer
    span.span-footer
        h5 about us  
        h5 ios app
        h5 anroid app
        span(style=' display: inline-block;\
        margin-left: 47rem')
            i.fab.fa-facebook-square.f_icon
            i.fab.fa-twitter.f_icon
            i.fab.fa-quora.f_icon
            i.fab.fa-instagram.f_icon
    .copywrite(style= "color:white; margin-left:22rem;")
        | copywrite @jan2020_all rights reserved.
