extends base 
block content
    h3(style="margin-left:3rem; margin-top:2rem;") Forgot your Pasword? Reset Here
        form.forgetPassword
            input.email(type="email" ,style="width:30%;")
            br
            button(type="submit",style="font-size:0.8rem;").btn.btn-full.form-button Send Email

