header
    .showcase
        nav.sticky(style="position:realtive")
            ul.nav-ul
                li.nav-li
                    a.nav-links(href='#') Features
                li.nav-li
                    a.nav-links(href='#') Details
                li.nav-li
                    a.nav-links(href='#') Reviews
                li.nav-li
                    a.nav-links(href='#') Plans
                li.nav-li
                    a.nav-links(href='#') SignUp
                li.nav-li
                    a.nav-links(href='/login') LogIn
        .text-box
            h1.main-heading
                | MEALS PLANS. 
                br
                |  FOR 
                span#span-detector.span-styler EVERYONE
            .btn-container
                a.btn.btn-full(href='#') Book Now
                a.btn.btn-empty(href='#') Show Me More
