extends base
block header
    include homenav.pug
block content
    section.features
        h2 Awesome Features
    .container-parent(style="margin-top:-8rem; height:85vh")
        .container(style="height: 56vh;")
            i.far.fa-calendar-alt.icon
            h3.fature-heading 365 days/year
            p.feature-para
                | Never cook again! We really mean that. Our subscription plans include up to 365 days/year coverage. You can
                | also choose to order more flexibly if that's your style.
        .container(style="height: 56vh;")
            i.fas.fa-truck.icon
            h3.fature-heading 30 minutes or free
            p.feature-para
                | You're only twenty minutes away from your delicious and super healthy meals delivered right to your home. We
                | work with the best chefs in each town to ensure that you're 100% happy.
        .container(style="height: 56vh;")
            i.fas.fa-leaf.icon
            h3.fature-heading 100% orgainic
            p.feature-para
                | All our vegetables are fresh, organic and local. Animals are raised without added
                | hormones or antibiotics. Good for your health, the environment, and it also tastes better!
    section.how-to
        h2 steps to follow
        .howto-container
            .image-container
                img.howto-image(src='./imgs/Capture.png', alt='')
            .steps
                .steps-container.clearfix
                    .steps-val 1
                    p.steps-para Choose the subscription plan that best fits your needs and sign up today
                .steps-container.clearfix
                    .steps-val 2
                    p.steps-para
                        | Order your delicious meal using our mobile app or website. Or you can even call us!
                .steps-container.clearfix
                    .steps-val 3
                    p.steps-para Enjoy your meal after less than 20 minutes. See you the next time!
    section.reviews
        .reviews-parent
            .reviews-child
                .reviews-header frank thomas
                .reviews-features
                    | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia ipsa perspiciatis provident ne the food is very good  and the interesting fact is that the delivery  is as fast as dominos.
                .r_icons
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
            .reviews-child
                .reviews-header David Smith
                .reviews-features
                    | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia ipsa perspiciatis provident ne the food is very good  and the interesting fact is that the delivery  is as fast as dominos.
                .r_icons
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
            .reviews-child
                .reviews-header charles dugg
                .reviews-features
                    | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia ipsa perspiciatis provident ne the food is very good  and the interesting fact is that the delivery  is as fast as dominos.
                .r_icons
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star

    include plansListing
    section.signup
        h2 contact us
        .signup-container
            video.bg-video__content(autoplay='', muted='', loop='')
                source(src='./imgs/Avocado.mp4', type='video/mp4')
            form.signup-form(action='/signup', method='POST', style="color:white;")
                .form-entry
                    label(for='name') name :
                    input#name(type='text', placeholder='name', required='')
                .form-entry
                    label(for='email') Email :
                    input(type='email', placeholder='email', required='')
                .form-entry
                    label(for='find-us') how did you find us
                    select#find-us
                        option(value='friends') friends
                        option(value='advertisements') advertisements
                        option(value='search') search
                        option(value='others') others
                .form-entry
                    label(for='comment') drop us a line
                    textarea#comment(name='comment', cols='30', rows='10')
                .form-entry
                    input(type='checkbox', name='', id='', required='')
                    span  i agree to the terms and conditions
                .form-entry
                    button.btn.btn-full.btn_form send message

    