extends base
block content
    section.login
        h2(style="margin-top:-3rem;") login
        .signup-container
            video.bg-video__content(autoplay='', muted='', loop='',style="margin-top:0.4rem;")
                source(src='./imgs/Avocado.mp4', type='video/mp4')
            form.login(style="margin-right:8rem;")
                
                .form-entry
                    label(for='email') Email:
                    input(type='email', placeholder='email', required='')

                .form-entry
                    label(for='password') Password:
                    input(type='password', placeholder='***********', required='')

                .form-entry(style="font-size:1.3rem; margin-bottom: 1rem !important;")
                   button(type="submit").btn.btn-full.form-button LOGIN
                   a.btn.btn-full.form-button(href="/signup") Signup 

                .form-entry
                   a(href='/forgetPassword') Forget Password
