extends base
block content
    section.login
        h2 login
        .signup-container
            video.bg-video__content(autoplay='', muted='', loop='')
                source(src='./imgs/Avocado.mp4', type='video/mp4')
            form.login
                
                .form-entry
                    label(for='email') Email:
                    input(type='email', placeholder='email', required='')

                .form-entry
                    label(for='password') Password:
                    input(type='password', placeholder='*************', required='')

                .form-entry
                   button(type="submit").btn.btn-full.form-button LOGIN
                
                .form-entry
                   a.btn.btn-full.form-button(href="/signup") Signup 

                .form-entry
                   a.btn.btn-full.form-button(href="/forgetPassword") Forget Password