extends base
block content
    section.signup
        h2 Login
        .signup-container
            video.bg-video__content(autoplay='', muted='', loop='')
                source(src='./imgs/Avocado.mp4', type='video/mp4')
            form.login
                
                .form-entry
                    label(for='email') Email:
                    input(type='email', placeholder='email', required='')

                .form-entry
                    label(for='password') Password:
                    input(type='password', placeholder='*************', required='')

                .form-entry
                    button.btn.btn-full.form-button.login-button(href='javascript:;') Login