nav.sticky(style="position:realtive")
    ul.nav-ul
        li.nav-li
            a.nav-links(href='#') Features
        li.nav-li
            a.nav-links(href='#') Details
        li.nav-li
            a.nav-links(href='#') Reviews
        li.nav-li
            a.nav-links(href='/plans') Plans
            
        if name 
                    li.nav-li
                        a.nav-links(href="/profile") #{name}
                    li.nav-li
                        a.nav-links(href="javascript:;").logout Logout
                       //  agar above link par click hoo toh yeh kahin jaye na; => (href= "javascript: ; ")
        else
                    li.nav-li
                        a.nav-links(href='/login') LogIn
