nav.sticky(style="position:realtive")
    ul.nav-ul
        li.nav-li
            a.nav-links(href='#') Features
        li.nav-li
            a.nav-links(href='#') Details
        li.nav-li
            a.nav-links(href='#') Reviews
        li.nav-li
            a.nav-links(href='#') Plans
        li.nav-li
            a.nav-links(href='#') SignUp
        li.nav-li
            a.nav-links(href='#') LogIn
