extends base 
block content      
   // listing-container ko 2 parts main convert kar diya hai 1 heading aur 1 plancard 
   // planSection has only that small section which is included in the homepage 
   include plansSection
       
                