extends base 
block content
        h2 Profile Page
        .user-container
            h2
                p Name : #{user.name}
                p Email : #{user.email}
                p
                    img(src=`${user.profileImage}`)
                    a(href="/") Settings
                input(type="file", name="").updateProfile
                if user.role == "admin"
                    p
                        a(href="/managePlans") Manage Plans
                    p
                        a(href="/manageUser") Manage User


