extends base
block content
  link(rel='stylesheet', href='../css/showcase.css',crossorigin='')
  form.resetPassword(style="margin-top:5rem", data-token=`${token}`)
    label(for='password') Enter your New Password: 
    input(type="password").password 
    br
    label(for='password') Confirm your New Password:
    input(type="password").confirmPassword
    br
    button(type="submit").btn.btn-full.form-button Reset My Password

  script(src="../js/frontend.js")
  script(src="../js/script.js")
    
                    

    
